body{
    font-family: 'Poppins', sans-serif;
}
.megamenu{
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.megamenus li a{
    font-weight: 700;
    color: dark;
}
.megamenus li:hover{
    background-color: rgb(52, 140, 218);
    border-radius: 10px;
    opacity: .5;
}
.link-button button{
    background-color: blue;
    padding: 8px 33px;
    border: none;
    color: whitesmoke;
    opacity: .5;
    font-weight: 600;
    font-size: 18px;
}
.icon {
    background-color: azure;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    color: blue;
}
.card-button button{
    padding: 10px 46px;
    border: none;
    border-radius: 15px;
    color: blue;
    font-weight: 700;
    background-color: cornsilk;
}
.card-button button:hover{
    background-color: salmon;
    color: white;
}